<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido</title>
    <link rel="stylesheet" th:href="@{/imagenes/style.css}">
</head>
<body>
<div class="login-container">
    <h1>¡Bienvenido a la plataforma, <span th:text="${usuario}">Usuario</span>!</h1>

    <p>Selecciona una opción:</p>
    <ul>
        <li><a href="/apiexterna">API Externa</a></li>
        <li><a href="/simulacion">Simulación</a></li>
        <li><a href="/api">Acceso a BD</a></li>
        <li><a href="/logout">Cerrar sesión</a></li>
    </ul>
</div>
</body>
</html>
